{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}Carrinho{% endblock %}

{% load produtos_tags %}
{% block main %}
{% load_my_produtos user as compras %}

<div class="container">
    <div class="row">
        <div class="col-6 ">
                        {% my_produtos user %}
        </div>
         </br></br></br>
        <div class="col-6">
                </br></br></br>
                <p><strong>Usuário</strong>: {{ user }}</p>
                <p><strong>E-mail</strong>: {{ user.email }}</p>

        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Compre Tec Aqui</font></font></span>
      </div>
    </footer>
{% endblock %}
