{% extends 'painel.html' %}
{% load bootstrap %}
{% block painel %} <!--block breadcrumb -->
    {{ block.super }}
    <li class="nav-item"> /  </li>
    <li class="nav-item"><a class="nav-link" style="color: #666" href="{% url 'editar' %}"><i class="fas fa-tools"></i> Editar Conta</a></li>
    <li class="nav-item"> /  </li>
    <li class="nav-item"><a class="nav-link" style="color: #666" href="{% url 'editar_senha' %}"><i class="fas fa-lock"> </i> Editar Senha</a></li>
{% endblock %}
{% block painel_content%}<!--block dashboard_content -->
    <div class="container">
        <form  class="form-group" method="post">
            <h4>Editar Senha</h4>
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if success %}
                    <p> A senha foi alterada com sucesso!</p>
            {% endif %}
            <center><button type="submit" class="btn btn-success">Enviar</button></center>

        </form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}