{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% load produtos_tags %}

{% block title %}Painel{% endblock %}

{% block main %}
{% load_my_produtos user as compras %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <nav>
                    <ul class="navbar nav navbar-expand-sm ">
                        {% block painel %}
                        <li class="nav-item">
                            <a class="nav-link" href ="{% url 'painel'%}"><i class="fas fa-address-card"> </i> Meu Perfil </a>
                        </li>
                        {% endblock %}
                    </ul>
                </nav>

                <div class="row">
                  <div class="col-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% block menu_opcoes%}
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#" role="tab" aria-controls="home">Produtos</a>
                        {% for compra in compras %}
                          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="{% url 'anuncios' compra.produto.slug %}" role="tab" aria-controls="profile"><i class="fas fa-shopping-basket"></i> {{ compra.produto}}</a>
                        {%empty%}
                          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#" role="tab" aria-controls="messages">Nenhum produto encontrado</a>
                        {% endfor%}
                          <a class="list-group-item list-group-item-action active" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Configurações</a>
                          <a class="list-group-item list-group-item-action"  data-toggle="list" href="{% url 'editar'%}" role="tab" aria-controls="editar"><i class="fas fa-tools"></i> Editar Informações</a>
                          <a class="list-group-item list-group-item-action"  data-toggle="list" href="{% url 'editar_senha'%}" role="tab" aria-controls="editar"><i class="fas fa-lock"> </i> Editar Senha</a>
                        {%endblock%}
                    </div>
                  </div>

                  <div class="col-9">
                        <div class="container">
                            {% block painel_content %}
                            {% for compra in compras %}
                             <br><br>
                                <div class="card text-center">
                                  <div class="card-header">
                                    {{compra.produto.categoria}}
                                  </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'anuncios' compra.produto.slug %}">{{ compra.produto }}</a></h5>
                                        <p class="card-text">{{ compra.produto.descricao|linebreaks }}</p>
                                        <a href="{% url 'anuncios' compra.produto.slug %}" class="btn btn-primary btn-sm">Visualize</a>
                                        <a href="{% url 'cancelar_compra' compra.produto.slug %}" class="btn btn-secondary btn-sm">Cancelar</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{compra.produto.start_date|date:'d/m/y'|default:'Sem data'}}
                                    </div>
                                </div>
                            {% empty %}
                                <div class="row featurette" role="tabpanel" aria-labelledby="list-messages-list">Nenhum produto disponível</div>
                            {% endfor %}
                            {% endblock %}
                        </div>

                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}
