{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% load produtos_tags %}

{% block title %}Painel{% endblock %}

{% block main %}
{% load_my_produtos user as compras %}

    <div class="container-fluid">
        <div class="row">
                {%if messages%}
                <div class="alert alert-success col-12" role="alert">
                     {% for message in messages %}
                        {{ message }}
                     {% endfor %}
                </div>
                {%endif%}

                    <nav class="col-12">
                    <ul class="navbar nav navbar-expand-sm ">
                        {% block painel %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: #666" href ="{% url 'painel'%}"><i class="fas fa-address-card"> </i> Meu Perfil </a>
                        </li>
                        {% endblock %}
                    </ul>
                </nav>
        </div>
                <div class="row">
                  <div class="col-5 col-md-3 col-sm-12">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% block menu_opcoes %}
                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                              Produtos</a>
                        {% for compra in compras %}
                          <a href="{% url 'anuncios' compra.produto.slug %}" class="list-group-item list-group-item-action"><i class="fas fa-shopping-basket"></i> {{ compra.produto }}</a>
                        {% empty %}
                          <a class="list-group-item list-group-item-action">Nenhum produto encontrado</a>
                        {% endfor %}
                          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Configurações</a>
                          <a href="{% url 'editar' %}" class="list-group-item list-group-item-action"><i class="fas fa-tools"></i> Editar Perfil</a>
                          <a href="{% url 'editar_senha' %}" class="list-group-item list-group-item-action"><i class="fas fa-lock"></i> Editar Senha</a>
                        </br></br></br>
                        {%endblock%}
                    </div>
                  </div>


                  <div class="col-7 col-md-9 col-sm-12">
                        <div class="container">
                            {% block painel_content %}
                            {% for compra in compras %}
                                <div class="card text-center">
                                  <div class="card-header" >
                                    {{compra.produto.categoria}}
                                  </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a style="color: #6C0" href="{% url 'anuncios' compra.produto.slug %}">{{ compra.produto }}</a></h5>
                                        <p class="card-text">{{ compra.produto.descricao|linebreaks }}</p>
                                        <a href="{% url 'anuncios' compra.produto.slug %}" class="btn btn-success btn-sm">Visualize</a>
                                        <a href="{% url 'cancelar_compra' compra.produto.slug %}" class="btn btn-secondary btn-sm">Cancelar</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{compra.produto.start_date|date:'d/m/y'|default:'Sem data'}}
                                    </div>
                                </div>
                            <br><br>
                            {% empty %}
                                <div class="row featurette" role="tabpanel" aria-labelledby="list-messages-list">Nenhum produto disponível</div>
                            {% endfor %}
                            {% endblock %}
                        </div>

                  </div>
                </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}

