{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Página de Recuperação de Senha{% endblock %}

{% block main %}

     <div class="container">
        <br><br><br>
          <center>
              <h4>Informe Seu Email</h4>

            <form method="post">
            {% csrf_token %}

            {{ form|bootstrap }}

            <center><input type="submit" class="btn btn-success" value="Enviar">
            <input type="hidden" name="next" value="{{ next }}"></center>

            </form>

         </center>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}