.fonte{
    font-family: Calibri;
    font-size: 20px;
}
.cor{
    color:#3C6;
}
.zoom{
    overflow: hidden;
}

.zoom img{
    max-width:100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom: houver img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}