<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site de Compra e Vendas</title>
</head>
<body>
    <h3>Acompanhamento da Compra</h3>
    <h4> Você acaba de realizar a compra do produto {{ compra.produto }} com sucesso!</h4>
    <h5>Obrigado pela preferência e acompanhe a chegada do produto até sua casa.</h5>
</body>
</html>
