{% extends "app_painel.html" %}

{% block painel_content %}

    <div class="card w-75">
      <div class="card-body">
        <h1 class="card-title">Fornecedores EmporioFree</h1>
          <h3>Belive Be Free</h3>
          <p>A BeLive Be free, é uma marca que acredita que para ser livre, é preciso ter escolhas saudáveis e saborosas. É dar espaço para a alegria da liberdade de comprar o que você realmente gosta. É comprar o produto sem medo e comer sem culpa.</p>
          <h3>Flormel</h3>
          <p>A Flormel atua em todo o Brasil, presente em mais de 15 mil pontos de vendas, desde grandes redes internacionais como Walmart e Carrefour até pequenos mercados de cada cidade. Com 30 anos de história, a Flormel é líder no segmento de doces e sobremesas zero adição de açúcares e tornou-se referência de excelência na indústria de alimentos.</p>
          <h3>BIO2</h3>
          <p>Há 20 anos buscamos um caminho para sermos uma marca que seja boa referência em sustentabilidade.

            Nesta jornada aprendemos com muitos erros e acertos, e percebemos que todas nossas boas ações clarearam nosso norte.</p>
      </div>
    </div>
{% endblock %}