{% extends "app_painel.html" %}

{% block painel_content %}

    <div class="card w-75">
      <div class="card-body">
        <h3 class="card-title">Envie Sua Pergunta</h3>

            <form>
                  <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva sua pergunta..." required></textarea>
                  </div>
                  <center><button type="submit" class="btn btn-success">Enviar</button></center>
            </form>
          <br><br>
          <h3>Dúvidas Gerais</h3>
          <h5>Sou nutricionista e gostaria de amostra. O que devo fazer?</h5>
          <p>Infelizmente não trabalhamos com o envio de amostras, somos revendedores online dos produtos.
            No portal da Emporiofree, temos uma área exclusiva para cadastro de nutricionista e obtenção de descontos. Acesse: http://www.emporiofree.com.br/emporiofree_health </p>
          <h5>Como realizar pesquisa de produtos em nosso site?</h5>
          <p>a) Pesquisa Padrão
            A pesquisa padrão pode ser consultada no centro superior de nossa página, acima do menu principal. Na pesquisa padrão você pode facilmente procurar produtos usando tanto critérios simples, tais como nome de fabricante, marca ou produto, como palavras compostas, de modo que a pesquisa procure essas palavras em todas as descrições de nossos produtos. Por exemplo, unir o nome do produto e do fabricante.
            b) Refinamento de Pesquisa
            O refinamento de pesquisa pode ser acessado pelo menu na lateral esquerda de nossa página. No refinamento de pesquisa você pode procurar produtos especificando os resultados que você deseja que apareçam a partir de filtros. Você pode especificar por funcionalidades do produto, tipos de substância ativa que o compõe, faixas de preço em que ele está inserido, entre outros. Por exemplo, produtos adequados para diabéticos.</p>
          <h3>Pagamentos</h3>
          <h5>Vocês aceitam cartão?</h5>
          <p>Nós aceitamos pagamentos pelos cartões Visa, MasterCard, Elo, Ameican Express e Diners Club. Trabalhamos em conjunto com parceiros e adotamos medidas de segurança para garantir a proteção de seus dados. Caso haja qualquer divergência dos dados fornecidos para cadastro ou pagamento, a equipe da Natue entrará em contato para requisitar a aprovação do pedido.
            Para compras parceladas, a parcela mínima é de R$ 40,00 e em até 6 (seis) vezes sem juros.</p>
          <h5>Como localizo meu boleto?</h5>
          <p>Você deve entra em “Minha conta” (lado superior direito da página), colocar o e-mail e senha, entrar em “Meus pedidos” e clicar em “Detalhes” lá estará o link do boleto</p>
          <h3>Produto</h3>
          <h5>Vocês têm loja física?</h5>
          <p>Infelizmente não temos loja física, a compra é exclusiva pelo site: www.emporiofree.com.br.
            Entregamos em todo Brasil via correios ou transportadoras."</p>
          <h5>Como posso fazer parceria com a Emporiofree?</h5>
          <p>Agradecemos seu contato. Pedimos por gentileza que entre em contato diretamente com o setor responsável, o e-mail para contato é: contato@emporiofree.com.br.</p>
      </div>
    </div>
{% endblock %}