{% extends "app_painel.html" %}

{% block painel_content %}

    <div class="card w-75">
      <div class="card-body">
        <h4 class="card-title">Política de privacidade da Emporiofree</h4>
          <p class="card-text">A presente Política de Privacidade descreve a forma como a Emporiofree Comércio de Produtos Alimentícios em Geral Ltda. (“Emporiofree”) - registrada sob o CNPJ 00.000.000/0000-00 - utiliza os dados fornecidos pelos usuários do site www.Emporiofree.com.br (o "Site"). Ao fornecer à Emporiofree suas informações pessoais em virtude de uma ordem de compra enviada pelo Site, o usuário declara expressamente conhecer e concordar com os termos e condições previstas nesta Política de Privacidade.</p>

          <p class="card-text">A Emporiofree leva muito a sério a proteção dos dados pessoais dos usuários do Site. Por esta razão, não haverá coleta, processamento, armazenamento ou utilização dos dados pessoais dos usuários de forma diversa ou para outros fins que não aqueles explicitados mais adiante nesta Política de Privacidade. A Natue toma todas as medidas técnicas e organizacionais necessárias para garantir a proteção dos dados pessoais dos usuários do Site.</p>
      </div>
    </div>
{% endblock %}